body{
    font-family: sans-serif;
}

input{
    height: 33px;
    width: auto;
}
label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.itemspos{
    margin-top: 150px;
}

.namepos{
    display: block;
}

.contactpos{
    display: block;
    margin-top: 5px;
    margin-bottom: 13px;
    width:98%;
}

.savePos{
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom:10px;
    margin-top: 20px;
    padding-top:14px ;
    padding-bottom:14px;
    background-color:#68B984;
    cursor: pointer;
}


.bottomPos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.searchPos{
    margin-top:40px ;
    width: 300px;
    border-radius:18px;
}


table{
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

th{
    padding: 50px;
    background-color: gray;
  }

td{
    padding: 50px;
}

.del{
    cursor: pointer;
}
